
img {
	border-radius: 15px;
}

img[height="200"] {
	border: 1px dashed blue;
	border-radius: 50%;
}

#my_paragraph {
	color: YELLOW;
}

#my_paragraph > img {
	border: 1px dashed #ff0000;
}

.micalendar2 tr:nth-child(odd) {
	background-color: #00FF00 !important;;
}

.micalendar2 tr:nth-child(even) {
	background-color: #005cbf !important;
}
.micalendar {
  background-color: #fff;
  width: 50%;
  position: absolute;
  box-shadow: 0 0 7px rgba(0,0,0,0.5);
  border-radius: 5px;
  color: #616682;
}

.micalendar .header_wrap {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #dcdfe7;
}

.micalendar .header_wrap .header{
  text-transform: uppercase;
  width: 80%;
  min-width: 300px;
  float: left;
}
.micalendar .header_wrap .arrows{
  text-transform: uppercase;
  width: 20%;
  min-width: 115px;
  float: right;
  text-align: center;
}
.micalendar table {
  border: 0px;
  padding: 0px;
  margin: 25px;  
}
.micalendar table th{
  color: #67bde8;
  border: 0px;
  background-color: #fff;
}
.micalendar table td{
  color: #686d89;
  background-color: #fff;
  border: 1px solid #e2e5eb;
  border-radius: 2px;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-left: 0px;
  margin-top: 0px;

}
.micalendar table td:hover{
  background-color: #cdd0dc;
}
.micalendar table td.not_current{
  color: #c9ccd9;
  background-color: #fff;
}
.micalendar table td:hover.not_current{
  background-color: #cdd0dc;
}
.micalendar table td.today{
  background-color: #fc8368 !important;
}
