.nav-tabs {
	position: relative;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
	outline: none;
	background-color: transparent;
}
.nav-tabs > li > a,
.nav-tabs > li.active > a,
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li.active > a:focus,
.nav-tabs > li > a:active,
.nav-tabs > li.active > a:active {
	border: none;
	background: none;
}
.nav-tabs .nav-underline {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0px;
	height: 2px;
	background: red;
	will-change: left, width;
	transition: left 0.2s, width 0.2s;
}
