@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: url("/img/skate.jpg") no-repeat;
  background-size: 2000px;
  font-family: 'Raleway', sans-serif;

}

a {
  display: block;
  width: 100%;
  height: 100%;
}

.menu-link, .menu-opener, .menu-opener:hover, .menu-opener.active, .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after, .menu, .menu.active {
  transition-duration: 150ms;
  transition-property:  all;
  transition-timing-function: ease-out;
}

.menu-opener {
  cursor: pointer;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 2%;
  left: 1%;
  user-select: none;
	z-index: 10;
}
.menu-opener:hover, .menu-opener.active {
  background: #f1c40f;
}

.menu-opener-inner {
  background: #fff;
  height: .5rem;
  width: 2.5rem;
  margin-left: .75rem;
  margin-top: 1.75rem;
}

.menu-opener-inner::before, .menu-opener-inner::after {
  background: white;
  content: '';
  display: block;
  height: .5rem;
  width: 2.5rem;
}

.menu-opener-inner::before {
  transform: translateY(-0.75rem);
}

.menu-opener-inner::after {
  transform: translateY(0.25rem);
}
.menu-opener-inner.active {
  background: transparent;
}
.menu-opener-inner.active::before {
  transform: rotate(-45deg);
}
.menu-opener-inner.active::after {
  transform: translateY(-0.5rem) rotate(45deg);
}

.menu {
  background: #f1c40f;
  height: 64px;
  position: absolute;
  top: 2%;
  left: 1%;
  user-select: none;
  width: 0rem;
  z-index: 9;
}
.menu.active {
  width: 98vw;
}
.menu.active .menu-link {
  color: white;
}

.menu-inner {
  display: flex;
  flex-direction: row;
  height: 100%;
  list-style-type: none;
  margin: 0;
  margin-left: 4rem;
  padding: 0;
}

.menu-link {
  color: transparent;
  display: flex;
  flex: 1 1 auto;
  font-size: 1rem;
  font-weight: 100;
  height: 100%;
  text-align: center;
  text-decoration: none;
}

.menu-link li {
  margin: auto;
}

.menu-link:hover {
	background: #fff !important;
	color: #f1c40f !important;
}

.main-text:hover {
	background: #fff !important;
	color: #f1c40f !important;
}
@media screen and (max-width: 768px) {
  .menu {
    height: auto;
  }
  .menu-inner {
    display: block;
  }
  .menu-link {
    padding: 10px 0;
    font-size: 1.2em;
  }
  .menu.active {
    width: calc(100% - 0.5rem);
  }
}

